@use "../mixins/mixins" as *;
@use "../function/variables" as *;
.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 5rem;
  text-align: center;
  display: flex;
  align-items: center; /* 文字と線を上下中央で揃える */
  justify-content: center; /* 全体を中央寄せにする */
  gap: 1rem; /* 文字と線の間の隙間*/

  /* 文字の「左側」の線 */
  &::before {
    content: "";
    flex-grow: 1; /* 伸ばせるだけ伸ばす */
    max-width: 3rem;
    height: 1px; /* 線の太さ */
    background-color: $color-border;
    @include media(md) {
      max-width: 6rem;
    }
  }

  /* 文字の「右側」の線 */
  &::after {
    content: "";
    flex-grow: 1;
    max-width: 3rem;
    background-color: $color-border;
    @include media(md) {
      max-width: 6rem;
    }
  }
  @include media(md) {
    margin-bottom: 6rem;
  }
}
