$color-base: #FCF3EF;
$color-border: #C5B7AA;
$color-white: #fff;
$color-font: #391D13;
$color-bg-section: #F7EDE3;
$color-footer-bg: #634837;
$color-footer-border: #7C6050;
$color-bg-guide: #F8EFEA;

// $font-archivo-narrow: 'Archivo Narrow', sans-serif;

$linear-brown: linear-gradient(115.47deg, #b29360 31.51%, #a48053 68.49%);
