@use "sass:map"; // マップを使うために必要

//-------------------------
// メディアクエリ
//-------------------------
$breakpoints: (
  // "xs": "screen and (min-width: 320px)",
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
  "xxl": "screen and (min-width: 1391px)",
) !default;
@mixin media($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 使い方の例↓
.text {
  font-size: 1.2rem;
  @include media(md) {
    font-size: 1.5rem;
  }
}

// 元のSCSSの書き方↓
.text {
  font-size: 1.2rem;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

// コンパイル後↓
.text {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 1.5rem;
  }
}
